@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-[#06070a] text-white;
  }

  * {
    scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
    scrollbar-width: thin;
  }
}